<table class="table">
  <tr>
    <th>Date</th>
    <th>Lift</th>
    <th>Load</th>
    <th>Rep Scheme</th>
    <th>Notes</th>
  </tr>
  {{#each}}
    <tr>
      <td>{{date}}</td>
      <td>{{lift.name}}</td>
      <td>{{load}}</td>
      <td>{{repScheme}}</td>
      <td>{{dash-for-null notes}}</td>
    </tr>
  {{/each}}
</table>