<div class='row'>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="result_date" class="col-sm-2 control-label">Date</label>
      <div class="col-sm-4">
        {{input class="form-control" id="result_date" placeholder="Date" value=model.date}}
      </div>
    </div>
    <div class="form-group">
      <label for="result_lift" class="col-sm-2 control-label">Lift</label>
      <div class="col-sm-4">
        {{view Ember.Select content=lifts optionLabelPath="content.name" value=model.lift class="form-control" id="result_lift"}}
      </div>
    </div>
    <div class="form-group">
      <label for="result_rep_scheme" class="col-sm-2 control-label">Rep Scheme</label>
      <div class="col-sm-4">
        {{input class="form-control" id="result_rep_scheme" placeholder="Rep Scheme" value=model.repScheme}}
      </div>
    </div>
    <div class="form-group">
      <label for="result_load" class="col-sm-2 control-label">Load</label>
      <div class="col-sm-4">
        {{input class="form-control" id="result_load" placeholder="Load" value=model.load}}
      </div>
    </div>
    <div class="form-group">
      <label for="result_notes" class="col-sm-2 control-label">Notes</label>
      <div class="col-sm-4">
        {{input class="form-control" id="result_notes" placeholder="Notes" value=model.notes}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" {{action 'createResult'}}>Save Result</button>
      </div>
    </div>
  </form>
</div>